:root {
   --navbar-bg-color: #007eb3;
   --side-width: 15%;
   --sidebar-bg-color: #f6f8fa;
   --navbar-height: 55px;
   --text-light: #fef6f9;
   --text-dark: #212529;
   --text-success: rgba(25, 135, 84, 1);
   --text-danger: rgba(220, 53, 69, 1);
   --box-shadow-color: rgba(0, 0, 0, 0.2);
   --hover-bg-color: rgba(162, 162, 162, 0.187);
   --hover-bg-color-light: #f8f9fa;
   --border-color-gray: #fef6f949;
   --border-color-light: #eaeaea;
   --border-color-dark: rgba(31, 35, 40, 0.15);
   --body-bg-color: #fff;
   --backdrop-color: rgba(23, 23, 24, 0.497);
}
/*
DEFINE 100 % height of main component
*/
body,
html {
   height: 100%;
   margin: 0;
   overflow: hidden;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

#root {
   height: 100%;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
   -webkit-appearance: none;
}

span {
   user-select: none;
}

.popup__content {
   z-index: 1000;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
   background-color: #007cad;
   border-color: #0080b3;
}

.btn-xs {
   --bs-btn-padding-y: 0.2rem;
   --bs-btn-padding-x: 0.4rem;
   --bs-btn-font-size: 0.575rem;
   --bs-btn-border-radius: var(--bs-border-radius-sm);
}

.btn-outline-secondary.danger:hover {
   background-color: var(--text-danger);
   color: var(--text-light);
}

.font-sm {
   font-size: 12px;
}

.font-lg {
   font-size: 22px;
}

.pointer {
   cursor: pointer;
}

.pointer.disabled {
   pointer-events: none;
}

.main-content {
   padding-left: var(--side-width);
   padding-top: var(--navbar-height);
   height: 100%;
   width: 100%;
}

.disabled {
   color: var(--bs-gray-500);
   pointer-events: none;
}

.btn-run {
   color: var(--bs-primary);
}

.btn-run :hover {
   color: #005478;
}

.preface-nav {
   color: var(--text-dark) !important;
   position: relative;
   top: 1px;
   right: 10px;
}

.nav-link.active {
   color: var(--text-dark) !important;
}

/* NAVBAR */
.navbar {
   display: flex;
   align-items: center;
   height: var(--navbar-height);
   width: 100%;
   padding: 10px 20px;
   background-color: var(--navbar-bg-color);
   color: var(--text-light);
   position: fixed;
   z-index: 1000;
   box-shadow: 0 2px 4px 0 var(--box-shadow-color);
}

.nav-title {
   font-size: 16px;
   padding: 2px 8px;
   cursor: pointer;
}

.nav-title:hover {
   background-color: var(--hover-bg-color);
   border-radius: 8px;
}

.nav-logo {
   position: relative;
   top: -2px;
   width: 40px;
   margin-right: 12px;
}

.nav-action {
   border: 1px solid var(--border-color-gray);
   border-radius: 8px;
   padding: 2px 8px;
   cursor: pointer;
}

.nav-action:hover {
   background-color: var(--hover-bg-color);
}

/* SIDEBAR */
.sidenav {
   height: 100%; /* Full-height: remove this if you want "auto" height*/
   width: var(--side-width); /* Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   top: var(--navbar-height);
   left: 0;
   background-color: var(--sidebar-bg-color);
   border: 1px solid var(--border-color-light);
   overflow-x: hidden; /* Disable horizontal scroll */
   transition: 0.2s;
   padding: 30px 10px 60px 10px;
}

.status-icon {
   width: 28px;
   line-height: 25px;
   border-radius: 50%;
   text-align: center;
   font-size: 12px;
   border: 1px solid var(--bs-gray-500);
}

.status-icon.curr-selected {
   background-color: var(--navbar-bg-color);
   color: var(--text-light);
   font-weight: 500;
}

.step-label-text {
   /* text-align: center; */
   font-size: 13px;
}

.step-label-text.curr-selected {
   font-weight: 500;
   color: var(--navbar-bg-color);
}

.step-label-text.bold {
   font-weight: 500;
}

.status-icon.normal {
   font-weight: 500;
}

.status-icon.success {
   color: var(--text-success);
   border: 1.5px solid var(--text-success);
   font-weight: 500;
}

.status-icon.danger {
   color: var(--text-danger);
   border: 1.5px solid var(--text-danger);
   font-weight: 500;
}

.delete-step {
   font-weight: 500;
   color: var(--navbar-bg-color);
}

/* DEMO CONTENT */
.section-header {
   padding: 10px;
}

.section-header:hover {
   background-color: var(--hover-bg-color);
}

.section-container {
   border: 1px solid var(--border-color-light);
   border-radius: 0.25rem;
}

.api-method-badge {
   padding: 7px;
   width: 100px;
   text-align: center;
   display: inline-block;
   font-size: 15px;
   user-select: none;
}

.dropdown-container {
   z-index: 1200;
}

.demo-content-actions * {
   margin-inline-end: -1px;
   padding: 2px 4px;
}

.demo-content-actions :first-child {
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}

.demo-content-actions :last-child {
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
}

.demo-content-action {
   border: 1px solid var(--border-color-light);
}

.demo-content-action:hover {
   background-color: var(--hover-bg-color);
}

/* MODAL */
.modal {
   z-index: 1000;
   background: var(--backdrop-color);
   overflow-y: hidden;
}
.modal-content {
   max-height: 90%;
}

.modal-body {
   height: 100%;
   overflow-y: auto;
   position: relative;
   flex: 1 1 auto;
   padding: var(--bs-modal-padding);
}

.text-hover-highlight:hover {
   text-decoration: underline;
}
.text-hover-highlight.primary:hover {
   color: #007cad;
}
.icon-hover-highlight:hover {
   opacity: 0.6;
}

.endpoint-form {
   border: 1px solid var(--border-color-light);
   border-radius: 0.25rem;
   padding: 20px;
}

/* DROPDOWN */
.custom-dropdown {
   position: relative;
   padding: 6px 8px;
   margin: 4px 1px;
   text-align: left;
   cursor: pointer;
   font-size: 0.875em;
   width: 100%;
}

.custom-dropdown:hover {
   background-color: var(--hover-bg-color);
   padding-right: 10px;
   border-radius: 6px;
   padding: 6px 8px;
   margin: 4px 1px;
}

.custom-dropdown-text {
   padding: 6px;
   margin-right: 8px;
   text-align: left;
   width: 100%;
   font-size: 0.875em;
}

.custom-dropdown.disabled {
   color: var(--bs-gray-500);
   cursor: none;
}

/* OFFCANVAS */
.offcanvas-window {
   position: fixed;
   bottom: 0;
   z-index: 999;
   display: flex;
   flex-direction: column;
   max-width: 100%;
   background-clip: padding-box;
   outline: 0;
   transition: transform 0.3s ease-in-out;
   top: var(--navbar-height);
   right: 0;
   width: 80%;
   border-left: 1px solid var(--border-color-gray);
   transform: translateX(100%);
}

.offcanvas-window.open {
   transform: none;
   visibility: visible;
}

.offcanvas-content {
   flex-grow: 1;
   overflow-y: auto;
   padding: 20px 30px;
   z-index: 2000;
   background-color: var(--body-bg-color);
}

.offcanvas-backdrop {
   position: fixed;
   left: 0;
   z-index: 999;
   width: 100vw;
   height: 100vh;
   background-color: transparent;
}

.offcanvas-backdrop.show {
   top: calc(0 - var(--navbar-height));
   opacity: 0.5;
   z-index: 1000;
   background-color: var(--backdrop-color);
}

.closeButton {
   padding: 4px;
}

.closeButton:hover {
   background-color: var(--hover-bg-color);
   padding: 4px;
   border-radius: 6px;
}
.xterm-container {
   display: flex;
   flex-direction: column;
   background-color: white;
   box-sizing: border-box;
   width: 100%;
   height: 100%;
}

.form-port-number::before {
   position: absolute;
   content: ":";
   left: -1px;
}

.action-grip-handle {
   position: relative;
   left: -8px;
   padding: 5px;
}

div > .action-menu {
   margin: 0 3px;
}

.action-menu {
   font-size: 11px;
   padding: 3px;
   border: 1px solid var(--bs-gray-500);
   border-radius: 0.25rem;
}
.action-menu:hover {
   border-color: var(--bs-gray-600);
   background-color: var(--bs-gray-600);
   color: var(--text-light);
}
.action-menu.danger {
   border-color: var(--text-danger);
   color: var(--text-danger);
}

.action-menu.danger:hover {
   border-color: var(--text-danger);
   background-color: var(--text-danger);
   color: var(--text-light);
}

/* CATALOG */

.catalog-container {
   height: 100%;
   width: 100%;
   display: flex;
   padding: 4rem;
   align-items: center;
   justify-content: center;
   background-color: var(--sidebar-bg-color);
}

.card:hover {
   transition: all 0.3s ease;
   opacity: 1;
   background-color: var(--hover-bg-color-light);
   cursor: pointer;
   transition: all 0.2s ease-out;
   box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
   border: 1px solid var(--navbar-bg-color);
}

.circle-icon {
   background: var(--navbar-bg-color);
   border: 1px solid var(--bs-gray-500);
   width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   line-height: 2px;
   vertical-align: middle;
   color: var(--text-light);
   margin-bottom: 1rem;
   overflow: hidden;
}

.custom-icon {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.auth-loading {
   height: 100%;
   width: 100%;
   font-size: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

@keyframes gradientText {
   to {
      background-position: 200% center;
   }
}
.auth-gradient-text {
   background: linear-gradient(to right, #fff 20%, #067faf 40%, #17a2b8 60%, #fff 80%);
   background-size: 200% auto;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: gradientText 2s linear infinite;
}

.outcome-recenter-btn {
   font-size: 11px;
   font-weight: 400;
   position: absolute;
   cursor: pointer;
   padding: 3px 5px;
   z-index: 900;
   right: 10px;
   top: 5px;
}
.outcome-recenter-btn:hover {
   background-color: var(--hover-bg-color);
   border-radius: 6px;
}
