:root {
   --side-bg-color: #007eb3;
   --side-width: 15%;
   --navbar-height: 55px;
}
/*
DEFINE 100 % height of main component
*/
body,
html {
   height: 100%;
   margin: 0;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

#root {
   height: 100%;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
   -webkit-appearance: none;
}

span {
   user-select: none;
}

.popup__content {
   z-index: 1000;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
   background-color: #007cad;
   border-color: #0080b3;
}

.font-sm {
   font-size: 12px;
}

.font-lg {
   font-size: 22px;
}

.pointer {
   cursor: pointer;
}
.pointer.disabled {
   pointer-events: none;
}

.main-content {
   padding-left: var(--side-width);
   padding-top: var(--navbar-height);
   height: 100%;
   width: 100%;
}

.navbar {
   display: flex;
   align-items: center;
   height: var(--navbar-height);
   width: 100%;
   padding: 10px 20px;
   background-color: var(--side-bg-color);
   color: #fef6f9;
   position: fixed;
   z-index: 1000;
   box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-title {
   font-size: 16px;
   padding: 2px 8px;
   cursor: pointer;
}

.nav-title:hover {
   background-color: rgba(152, 152, 154, 0.187);
   border-radius: 8px;
}

.nav-logo {
   position: relative;
   top: -2px;
   width: 40px;
   margin-right: 12px;
}

.nav-action {
   border: 1px solid #fef6f949;
   border-radius: 8px;
   padding: 2px 8px;
   cursor: pointer;
}

.nav-action:hover {
   border: 1px solid #fef6f98e;
   background-color: rgba(18, 18, 19, 0.187);
}

.sidenav {
   height: 100%; /* Full-height: remove this if you want "auto" height*/
   width: var(--side-width); /* Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   top: var(--navbar-height);
   left: 0;
   background-color: #f6f8fa;
   border: 1px solid #eaeaea;
   overflow-x: hidden; /* Disable horizontal scroll */
   transition: 0.2s;
   /* min-width: 60px; */
   padding: 30px 10px 60px 10px;
}

.side-item {
   display: flex;
   color: #212529;
}

.side-item.disabled {
   color: var(--bs-gray-500);
   pointer-events: none;
}

.step-label-text {
   font-size: 13px;
   color: #212529;
}

.step-label-text.curr-selected {
   font-weight: 700;
   color: var(--side-bg-color);
}

.status-icon {
   width: 28px;
   line-height: 25px;
   border-radius: 50%;
   text-align: center;
   font-size: 12px;
   margin: 0 10px;
   border: 1px solid var(--bs-gray-500);
}

.status-icon.normal {
   border: 1px solid var(--side-bg-color);
   font-weight: 700;
}

.status-icon.curr-selected {
   background-color: var(--side-bg-color);
   color: #fef6f9;
   border: 1px solid var(--side-bg-color);
   font-weight: 700;
}

/* 

*/

.section-header {
   padding: 10px;
}

.section-header:hover {
   background-color: #f8f9fa;
}

.section-container {
   border: 1px solid #eaeaea;
   border-radius: 0.25rem;
}

.api-method-badge {
   padding: 7px;
   width: 100px;
   text-align: center;
   display: inline-block;
   font-size: 15px;
   user-select: none;
}

.modal {
   z-index: 1000;
   background: rgba(0, 0, 0, 0.7);
   overflow-y: hidden;
}
.modal-content {
   max-height: 90%;
}

.modal-body {
   height: 100%;
   overflow-y: auto;
   position: relative;
   flex: 1 1 auto;
   padding: var(--bs-modal-padding);
}

.text-hover-highlight:hover {
   text-decoration: underline;
}
.icon-hover-highlight:hover {
   opacity: 0.6;
}

.endpoint-form {
   border: 1px solid #eaeaea;
   border-radius: 0.25rem;
   padding: 20px;
}

.custom-text-success {
   color: #70fd70;
}

.custom-text-danger {
   color: #ff0000;
}

.preface-nav {
   position: relative;
   top: 1px;
   right: 10px;
}

.disabled {
   color: var(--bs-gray-500);
   pointer-events: none;
}

.btn-run {
   color: var(--bs-primary);
}

.btn-run :hover {
   color: #005478;
}

.custom-dropdown {
   padding: 4px;
   margin: 4px 2px;
   text-align: left;
   width: 100%;
   cursor: pointer;
   font-size: 0.875em;
}

.custom-dropdown:hover {
   background-color: rgba(152, 152, 154, 0.187);
   border-radius: 6px;
   padding: 4px;
}

.custom-dropdown-text {
   padding: 4px;
   margin: 4px 2px;
   text-align: left;
   width: 100%;
   font-size: 0.875em;
}

.custom-dropdown.disabled {
   color: var(--bs-gray-500);
   cursor: none;
}
